__pycache__/
.ipynb_checkpoints
.Python
*.so
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

data/DHB-dataset
data/NL-Drive
experiments/
remove/
tmp/
vis/
vis*/
log/
log*/
.log*
*.npy
*.json
*.tar
*.out
*.pkl
*.pth
*.params